body{
     margin:0; 
     font:normal 75% Arial, Helvetica, sans-serif; 
} 

canvas{ 
    display: block; 
    vertical-align: bottom; 
} 

/* ---- particles.js container ---- */ 

#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 100%; 
    background-color: #232741; 
    background-repeat: no-repeat;
    min-height: 500px;
}

content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20%;
    pointer-events: none;
}

.logo{
    height: 37ch;
}

.contact_info{
    color: white;
    width: 100%;
}

a{
    text-decoration: none;
    font-size: 4ch;  
    color: #fcfcfc;
    pointer-events: all;
}

a:hover{
    color: #dadada;
    transition-property: color;
    transition-duration: 1s;
}

.about-me-text{
    font-family: 'Open Sans', sans-serif;
}

.content-desc-parent{
    text-align: center;
}

.content-desc{
    color: #c4c4c4;
    font-size: 4ch;
    padding: .2%;
    background-color: white;
}

.content{z-index: 200;}
