.hero{
    padding: 0;
    height: 96vh;
    position: relative;
    font-size: 5em;
}

/*COMPANY NAME*/
.company_name{
    display: flex;
    background-color: #4caf50;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    opacity: 50%;
    z-index: 3;
}

.company_name_text{
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
}


/*SLIDER*/
.wrapper {
    padding: 0;
    height: 100%;
    margin: 0 auto 0;
    position: relative;
    width: 100%;
}
.slider {
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
}
.slides {
    filter: blur(.05em);
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
    transform: scale(1.5);
    transition: transform ease-in-out .8s, opacity ease-in-out .8s;
}
.slide1 {
    background-image: url("../img/1.slider/1.jpg");
    background-size: cover;
}
.slide2 {
    background-image: url("../img/1.slider/2.jpg");
    background-size: cover;
}
.slide3 {
    background-image: url("../img/1.slider/3.jpg");
    background-size: cover;
}
.slide4 {
    background-image: url("../img/1.slider/4.jpg");
    background-size: cover;
}
.slide5 {
    background-image: url("../img/1.slider/5.jpg");
    background-size: cover;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}
.wrapper > input {
    display: none;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons div{
    flex: 1;
}
.icons div:last-child{
    flex: 2;
}
.fas{
    color: white;
}