.advantages-container{
    position: relative;
}
.container-background{
    opacity: 20%;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.advantages {
    padding-top: 50px;
    padding-bottom: 30px;
    z-index: 3;
    margin: 0 auto 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: flex-start;
    width: 80%;
    height: 1200px;

}
.advantage {
    z-index: inherit;
    margin: 5px;
    padding: 5px;
    flex: 1 1 auto;
    background-color: #4caf50;
    display: flex;
}

.advantage:nth-child(2n){
    flex-flow: row-reverse;
}

.advantage-img-and-text{
    z-index: inherit;
    background-color: orange;
    flex: 12;
    display: flex;
    flex-flow: column;
}
.advantage-img{
    flex: 2;
    background-size: cover;
}

.advantage-text-container{
    flex: 1;
    font-weight: bold;
    font-size: 4em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantage:nth-child(1) .advantage-img{
    background-image: url("../img/3.advantages/carbon.png");
}
.advantage:nth-child(1) .advantage-text-container,
.advantage:nth-child(1){
    background-color: #016c40;
}
.advantage:nth-child(1) .advantage-main-text-big div,
.advantage:nth-child(1) .advantage-main-text-small div{
    color: #016c40;
}
.advantage:nth-child(2) .advantage-img{
    background-image: url("../img/3.advantages/water.png");
}
.advantage:nth-child(2) .advantage-text-container,
.advantage:nth-child(2){
    background-color: #0094a0;
}
.advantage:nth-child(2) .advantage-main-text-big div,
.advantage:nth-child(2) .advantage-main-text-small div{
    color: #0094a0;
}
.advantage:nth-child(3) .advantage-img{
    background-image: url("../img/3.advantages/waste.png");
}
.advantage:nth-child(3) .advantage-text-container,
.advantage:nth-child(3){
    background-color: #2b2b2c;
}
.advantage:nth-child(3) .advantage-main-text-big div,
.advantage:nth-child(3) .advantage-main-text-small div{
    color: #2b2b2c;
}

.advantage-main-text{
    text-align: center;
    z-index: inherit;
    background-color: white;
    flex: 21;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.advantage-main-text-big{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 5em;
    font-weight: bold;
}
.advantage-main-text-small{
    font-size: 1.3em;
    width: 100%;
    flex: 1;
}

.OUTLINE-border-container{
    padding-top: 100px;
    padding-bottom: 60px;
    /*z-index: 4; */  /*для интереса можно поменять*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.OUTLINE-border {
    width: 80%;
    z-index: inherit;
    background: #F4F0E9;
}
.OUTLINE-border-top,
.OUTLINE-border-bottom {
    border: 3px solid #AF8B52;
    height: 12px;
    position: relative;
}
.OUTLINE-border-top:before,
.OUTLINE-border-top:after,
.OUTLINE-border-bottom:before,
.OUTLINE-border-bottom:after {
    content: "";
    position: absolute;
    border: 3px solid #AF8B52;
    width: 20px;
    height: 20px;
}
.OUTLINE-border-top:before {
    border-radius: 0 100%;
    left: -26px;
    top: -26px;
}
.OUTLINE-border-top:after {
    border-radius: 100% 0;
    right: -26px;
    top: -26px;
}
.OUTLINE-border-bottom:before {
    border-radius: 100% 0;
    left: -26px;
    bottom: -26px;
}
.OUTLINE-border-bottom:after {
    border-radius: 0 100%;
    right: -26px;
    bottom: -26px;
}
.OUTLINE-center {
    border-left: 3px solid #AF8B52;
    border-right: 3px solid #AF8B52;
}
.OUTLINE-center .OUTLINE-p {
    margin: 0;
    padding: 40px 30px;
    color: #AF8B52;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    line-height: 1.5;
}