.quiz-area{
    z-index: 3;
    display: flex;
    align-items: center;
    flex-flow: column;
    padding-bottom: 10px;
}

.brand-new-menu-items-title{
    opacity: 80%;
    text-align: center;
    color: #AF8B52;
    font-size: 2em;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    position: relative;
    transition: all .5s linear;
    transform-style: preserve-3d;

}
.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    color: antiquewhite;
    font-size: 2em;
    border-radius: 10%;
}

.card-front{
    background-color: #1f3934;
    z-index: 3;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-back{
    transform: rotateY(180deg);
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.card-container{
    z-index: 20;
}
.card-container:hover .card{
    transform: rotateY(180deg);
}

.cards{
    width: 730px;
    height: 730px;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: space-around;
    perspective: 1000px;
}
.card-container:nth-child(1) .card-back{background-image: url("../img/4.brand-new-menu-items/1.webp");}
.card-container:nth-child(2) .card-back{background-image: url("../img/4.brand-new-menu-items/2.webp");}
.card-container:nth-child(3) .card-back{background-image: url("../img/4.brand-new-menu-items/3.webp");}
.card-container:nth-child(4) .card-back{background-image: url("../img/4.brand-new-menu-items/4.webp");}
.card-container:nth-child(5) .card-back{background-image: url("../img/4.brand-new-menu-items/5.webp");}
.card-container:nth-child(6) .card-back{background-image: url("../img/4.brand-new-menu-items/6.webp");}
.card-container:nth-child(7) .card-back{background-image: url("../img/4.brand-new-menu-items/7.webp");}
.card-container:nth-child(8) .card-back{background-image: url("../img/4.brand-new-menu-items/8.webp");}
.card-container:nth-child(9) .card-back{background-image: url("../img/4.brand-new-menu-items/9.webp");}

#backgroundJS{
    transition: background-color 1s linear;
}

.new-items-bg-relative{
    position: relative;
}
