.reviews {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 30px;
}

.reviews-title {
    text-align: center;
}

.reviews-block {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
    text-align: center;
}

.review-content {
    overflow: hidden;
    border-radius: 10px;
    height: 100%;
    background-color: #223935;
    width: 100%;
    position: relative;
    display: flex;
    transition: all 1s linear;
    justify-content: center;
    align-items: center;
    color: #f6e9d6;
}

.review-text {
    z-index: 2;
    font-weight: bold;
    transition: all .2s linear;
    text-align: center;
}

.review-author-and-rate {
    background-color: #223935;
    z-index: 3;
    height: 100%;
    transition: all .3s linear;
    opacity: 1;
    width: 100%;
    text-align: center;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.review-content:nth-child(1) .review-author-and-rate,
.review-content:nth-child(4) .review-author-and-rate,
.review-content:nth-child(8) .review-author-and-rate {
    background-color: #393922;
}

.review-content:nth-child(3) .review-author-and-rate {
    background-color: #392222;
}

.review-content:hover .review-author-and-rate {
    opacity: 0;
}

.review-content:hover .review-text {
    opacity: 1;
}

.review-author {
    padding-top: 5%;
    font-size: 1.7em;
}

.review-rate {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    font-size: 3em;
}