html{
    scroll-behavior: smooth;
    font-family: 'Comfortaa', cursive;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
body{
    margin: 0;
    font-family: 'Comfortaa', cursive;
    background-image: url("../img/3.advantages/Background.png");
    background-position: center;
}
main{
}


/*.container-background{*/
/*    opacity: 20%;*/
/*    z-index: 2;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    background-image: url("../img/3.advantages/background.jpg");*/
/*}*/